<!-- Page Header -->
<section class="page-header">
  <div class="page-header-inner">
    <h1>КОНТАКТНАЯ ИНФОРМАЦИЯ</h1>

    <div class="contacts-layout">
      <!-- Left: Address & Email -->
      <div class="contacts-left">
        <div class="address-block">
          <span class="pin-icon">📍</span>
          <div>
            <p class="city">Город</p>
            <p class="street">ул. Ленина , дом 5 Офис 303</p>
          </div>
        </div>

        <div class="email-block">
          <span class="label">Электронная почта: </span>
          <a href="mailto:clinic@mail.ru" class="email-link">clinic&#64;mail.ru</a>
        </div>
      </div>

      <!-- Right: Phones -->
      <div class="contacts-right">
        <div class="phones-list">
          <a href="tel:+73846652652">+7 (3846) 652 652</a>
          <a href="tel:+79030677888">+7 (903) 067 78 88</a>
          <a href="tel:+79234737888">+7 (923) 473 78 88</a>
        </div>
      </div>
    </div>

    <!-- Pro Doctors banner -->
    <!-- <div class="prodoctors-banner">
      <span class="prodoctors-text"><span class="pro-prefix">ПРО</span><span class="pro-suffix">ДОКТОРОВ</span></span>
    </div> -->
  </div>
</section>

<!-- Map Section -->
<section class="map-section">
  <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A7bcb03a40dd2dfac1d1bfbc8250eef5b5e9cba54aed649cd0ed47da1c576295c&amp;source=constructor" width="500" height="400" frameborder="0"></iframe>
</section>
